<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加油站管理系统</title>

    {% load static %}
    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static "css/nifty.min.css" %}" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="{% static "css/demo/nifty-demo-icons.min.css" %}" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="{% static "css/demo/nifty-demo.min.css" %}" rel="stylesheet">


        
    <!--FooTable [ OPTIONAL ]-->
    <link href="{% static "plugins/fooTable/css/footable.core.css" %}" rel="stylesheet">





    
    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static "plugins/pace/pace.min.css" %}" rel="stylesheet">
    <script src="{% static "plugins/pace/pace.min.js" %}"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static "js/nifty.min.js" %}"></script>






    <!--=================================================-->
    
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="{% static "js/demo/nifty-demo.min.js" %}"></script>

    
    <!--FooTable [ OPTIONAL ]-->
    <script src="{% static "plugins/fooTable/dist/footable.all.min.js" %}"></script>


    <!--FooTable Example [ SAMPLE ]-->
    <script src="{% static "js/demo/tables-footable.js" %}"></script>




    
    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->
        

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
        {% include 'header.html' %}
           
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    <div class="row">
    <!-- <div class="col-lg-4">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">地区统计</h3>
            </div>
            <div class="panel-body">
                <div id="ccc" style="height:250px;">
                    <!--Morris Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <!-- </div>
            </div>
        </div>
    </div>  -->
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">情况统计</h3>
            </div>
            <div class="panel-body">
                <div id="bbb" style="height: 250px;">
                    
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">数据统计</h3>
            </div>
            <div class="panel-body">
                <!--Morris Line Chart placeholder-->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="aaa" style="height: 250px;">
                    
                </div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            </div>
        </div>
        <script src="{% static "./js/echarts.min.js" %}"></script>
        <script src="{% static "./js/mychart.js" %}"></script>
    </div>
</div>
					<div class="panel">
					    <div class="panel-heading">
					        <h3 class="panel-title">实时数据</h3>
					    </div>
					
					    <!-- Foo Table - Filtering -->
					    <!--===================================================-->
					    <div class="panel-body">
					        <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="20">
					            <thead>
					                <tr>
                                        <th data-toggle="true">序号</th>
					                    <th>加油站</th>
					                    <th>设备ID</th>
					                    <th data-hide="phone">气体体积</th>
					                    <th data-hide="phone">液体体积</th>
					                    <th data-hide="phone">汽液比</th>
                                        <th data-hide="phone">交易时间</th>
                                        <th data-hide="phone">状态</th>
					                </tr>
					            </thead>
					            <div class="pad-btm form-inline">
					                <div class="row">
					                    <div class="col-sm-6 text-xs-center">
					                        <div class="form-group">
					                            <label class="control-label"></label>
					                            <select id="demo-foo-filter-status" class="form-control">
					                                <option value="">全部</option>
					                                <option value="正常">正常</option>
					                                <option value="异常">异常</option>
					                            </select>
					                        </div>
					                    </div>
					                    <div class="col-sm-6 text-xs-center text-right">
					                        <div class="form-group">
					                            <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="off">
					                        </div>
					                    </div>
					                </div>
					            </div>
					            <tbody>
                                    <!-- 测试数据 -->
					                <tr>
					                    <td>1</td>
					                    <td>阿里科技</td>
					                    <td>ID109876887</td>
					                    <td>35.33</td>
                                        <td>88.99</td>
                                        <td>100%</td>
                                        <td>2018:11:11 11-11-11</td>
					                    <td><span class="label label-table label-success">正常</span></td>
					                </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>阿里科技</td>
                                        <td>ID109876887</td>
                                        <td>35.33</td>
                                        <td>88.99</td>
                                        <td>100%</td>
                                        <td>2018:11:11 11-11-11</td>
                                        <td><span class="label label-table label-dark">异常</span></td>
                                    </tr>
					            </tbody>
					            <tfoot>
					                <tr>
					                    <td colspan="8">
					                        <div class="text-right">
					                            <ul class="pagination"></ul>
					                        </div>
					                    </td>
					                </tr>
					            </tfoot>
					        </table>
					    </div>
					    <!--===================================================-->
					    <!-- End Foo Table - Filtering -->
					
					</div>
					
					
					
					
                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            
            <!--ASIDE-->
            <!--===================================================-->
            <!-- <aside id="aside-container">
                <div id="aside">
                    <div class="nano">
                        <div class="nano-content">
                            
                    
                            <div class="tab-content">

                                <div class="tab-pane fade in active" id="demo-asd-tab-1">
                                    <p class="pad-hor mar-top text-semibold text-main">
                                        <span class="pull-right badge badge-warning"></span> Family
                                    </p>

                                  
                                    <div class="list-group bg-trans">
							            <a href="#" class="list-group-item">
							                <div class="media-left pos-rel">
							                    <img class="img-circle img-xs" src="img/profile-photos/2.png" alt="Profile Picture">
												<i class="badge badge-success badge-stat badge-icon pull-left"></i>
							                </div>
							                <div class="media-body">
							                    <p class="mar-no">Stephen Tran</p>
							                    <small class="text-muted">Availabe</small>
							                </div>
							            </a>
							            <a href="#" class="list-group-item">
							                <div class="media-left pos-rel">
							                    <img class="img-circle img-xs" src="img/profile-photos/7.png" alt="Profile Picture">
							                </div>
							                <div class="media-body">
							                    <p class="mar-no">Brittany Meyer</p>
							                    <small class="text-muted">I think so</small>
							                </div>
							            </a>
                                    </div>

                                </div>
                              

                            </div>
                        </div>
                    </div>
                </div>
            </aside> -->
            <!--===================================================-->
            <!--END ASIDE-->

            
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            {% include 'left.html' %}
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>

        

       
        {% include 'footer.html' %}

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


</body>
</html>

