<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Tables | Nifty - Admin Template</title>
    <!--STYLESHEET-->
    <!--=================================================-->

    {% load static %}
    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static "css/nifty.min.css" %}" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="{% static "css/demo/nifty-demo-icons.min.css" %}" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="{% static "css/demo/nifty-demo.min.css" %}" rel="stylesheet">


        
    <!--Morris.js [ OPTIONAL ]-->
    <link href="{% static "plugins/morris-js/morris.min.css" %}" rel="stylesheet">


    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="{% static "plugins/magic-check/css/magic-check.min.css" %}" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static "plugins/pace/pace.min.css" %}" rel="stylesheet">
    <script src="{% static "plugins/pace/pace.min.js" %}"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static "js/jquery-2.2.4.min.js" %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static "js/nifty.min.js" %}"></script>






    <!--=================================================-->
    
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="{% static "js/demo/nifty-demo.min.js" %}"></script>

    <!--Bootstrap Table Sample [ SAMPLE ]-->
    <script src="{% static "js/demo/tables-bs-table.js" %}"></script>


    <!--X-editable [ OPTIONAL ]-->
    <script src="{% static "plugins/x-editable/js/bootstrap-editable.min.js" %}"></script>


    <!--Bootstrap Table [ OPTIONAL ]-->
    <script src="{% static "plugins/bootstrap-table/bootstrap-table.min.js" %}"></script>


    <!--Bootstrap Table Extension [ OPTIONAL ]-->
    <script src="{% static "plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js" %}"></script>




    <style>
        .div-c {
            float: left;
            width: 80%;
        }

        .div-d {
            float: right;
            width: 20%;
        }
    </style>

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <script type="text/javascript" src="{% static "js/header.js" %}"></script>

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <!-- <div class="div-c"> -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">地区统计</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="ccc" style="height:250px;">
                                            <!--Morris Line Chart placeholder-->
                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">情况统计</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="bbb" style="height:250px;">
                                            <!--Morris Line Chart placeholder-->
                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">数据统计</h3>
                                    </div>
                                    <div class="panel-body">
                                        <!--Morris Line Chart placeholder-->
                                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                        <div id="aaa" style="height:250px;">
                                            <!--Morris Line Chart placeholder-->
                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                        </div>
                                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                    </div>
                                </div>
                                <script src="{% static "js/echarts.min.js" %}"></script>
                                <script src="{% static "js/mychart.js" %}"></script>
                                <script type="text/javascript">
                                    ConditionChart();
                                    DataPieChart();
                                </script>
                            </div>
                        </div>
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">实时数据</h3>
                            </div>
                            <div class="panel-body">
                                <table data-toggle="table" data-url="data/bs-table.json" data-search="true" data-show-refresh="true" data-show-toggle="true"
                                    data-show-columns="true" data-sort-name="id" data-page-list="[5, 10, 20]" data-page-size="5"
                                    data-pagination="false" data-show-pagination-switch="false">
                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true" data-formatter="statusFormatter">状态</th>
                                            <th data-field="name" data-sortable="true">加油站</th>
                                            <th data-field="date" data-sortable="true" data-formatter="dateFormatter">设备ID</th>
                                            <th data-field="amount" data-align="center" data-sortable="true" data-sorter="priceSorter">气体体积</th>
                                            <th data-field="status" data-align="center" data-sortable="true" data-formatter="statusFormatter">液体体积</th>
                                            <th data-field="track" data-align="center" data-sortable="true" data-formatter="trackFormatter">汽液比</th>
                                            <th data-field="time" data-align="center" data-sortable="true" data-formatter="trackFormatter">交易时间</th>
                                            <th data-field="origin_id" data-align="center" data-sortable="true" data-formatter="trackFormatter">序号</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-index="0">
                                            <td style="text-align: center; ">
                                                <div class="label label-table label-info">
                                                    Shipped
                                                </div>
                                            </td>
                                            <td style="">
                                                Teresa L. Doe
                                            </td>
                                            <td style="">
                                                <span class="text-muted">
                                                    <i class="fa fa-clock-o">
                                                    </i>
                                                    Yesterday 05:25 PM
                                                </span>
                                            </td>
                                            <td style="text-align: center; ">
                                                $532.99
                                            </td>
                                            <td style="text-align: center; ">
                                                <div class="label label-table label-info">
                                                    Shipped
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">
                                                <i class="fa fa-plane">
                                                </i>
                                                CGX0089675674
                                            </td>
                                        </tr>
                                        <tr data-index="1">
                                            <td style="">
                                                <a href="#" class="btn-link">
                                                    Order #53450
                                                </a>
                                            </td>
                                            <td style="">
                                                Lucy Doe
                                            </td>
                                            <td style="">
                                                <span class="text-muted">
                                                    <i class="fa fa-clock-o">
                                                    </i>
                                                    Yesterday 03:25 PM
                                                </span>
                                            </td>
                                            <td style="text-align: center; ">
                                                $45.00
                                            </td>
                                            <td style="text-align: center; ">
                                                <div class="label label-table label-danger">
                                                    Refunded
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">
                                                -
                                            </td>
                                        </tr>
                                        <tr data-index="2">
                                            <td style="">
                                                <a href="#" class="btn-link">
                                                    Order #53453
                                                </a>
                                            </td>
                                            <td style="">
                                                Steve N. Horton
                                            </td>
                                            <td style="">
                                                <span class="text-muted">
                                                    <i class="fa fa-clock-o">
                                                    </i>
                                                    Today 11:03 AM
                                                </span>
                                            </td>
                                            <td style="text-align: center; ">
                                                $74.00
                                            </td>
                                            <td style="text-align: center; ">
                                                <div class="label label-table label-success">
                                                    Paid
                                                </div>
                                            </td>
                                            <td style="text-align: center; ">
                                                -
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--===================================================-->
                    <!-- </div> -->
                    




                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            <script type="text/javascript" src="{% static "js/left.js" %}"></script>

        </div>

        <script type="text/javascript" src="{% static "js/footer.js" %}" charset="utf-8"></script>

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->



</body>

</html>